<!DOCTYPE html>
<html lang="en">
<head>

    <script src="{{url_for('static',filename='js/jquery-3.3.1.min.js')  }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link type="text/css" href="{{url_for('static',filename='css/stylesheet.css')  }}" rel="stylesheet ">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <title>{% block title %}智能家居管理系统{% endblock %}</title>
    <style type="text/css">
        p{
            color: #000;
        }
    </style>
</head>
<body>
{% block head %}<div class="navbar navbar-inverse">
    <div class="container">

        <div class="navbar-header">
            <button class="navbar-toggle" data-toggle="collapse" data-target="navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">智能家居管理系统</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="/">首页</a>
                </li>
                {% if session['user'] !=null %}
                <li class="dropdown">
                    <a href="/" class="dropdown-toggle"  data-toggle="dropdown" id="lg">{{ session['user'] }}</a>
                    <ul class="dropdown-menu" aria-labelledby="lg">
                        <li><a href="/register" target="_blank">修改密码</a></li>
                        <li><a href="/register">修改信息</a></li>
                    </ul>
                </li>
                {% else %}
                <li class="dropdown">
                    <a href="/" class="dropdown-toggle"  data-toggle="dropdown" id="lg">登录/注册</a>
                    <ul class="dropdown-menu" aria-labelledby="lg">
                        <li><a href="/login" target="_blank">登录</a></li>
                        <li><a href="/register">修改密码</a></li>
                    </ul>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
{% block content %}
<div id='btn_2'>
    <a href="/read2/1">智能家居介绍</a>
</div>
<div>
    <img usemap="#gn" usemap="gn"  id='btn_1' src="../static/picture/btn_2.jpeg" alt="">
    <map id='gn' name="gn">
        <area shape="circle" coords="200,300,30" target="_self" href="/" alt='首页'>
    </map>
</div>

<script>
var btn = document.getElementById('btn_1');
btn.style.width='60%';
btn.style.marginLeft='20%';
btn.style.marginTop='-8%';
btn.style.zIndex='-3';
btn.style.position='fixed';
var img_1 = document.getElementById('gn');
s=(btn)=>{
    var imgW = btn.naturalWidth;
    var imgH = btn.naturalHeight;
    var imgw = btn.width;
    var imgh = btn.height;
    var W_cs = imgw/imgW;
    var H_cs = imgh/imgH;
    var x=[];
    for (var i = 0;i<img_1.children.length;i++){
        x.push(img_1.children[i].getAttribute('coords'));
    };
    console.log(x);
    var c = x[0].split(',');
    console.log(c);
    var z=[];
    for (var i=0;i<img_1.children.length;i++){
        for(var j=0;j<x[i].split(',').length;j++){
            z.push(x[i].split(',')[j]);
        };
    };
    console.log(c[0]); 
    console.log(imgW);
    var btn_3 = document.getElementById('btn_2');
    btn_3.style.margin='3%';
    btn_3.style.borderRadius='150px';
    btn_3.style.lineHeight='150px';
    btn_3.style.height='150px';
    btn_3.style.width='150px';
    btn_3.style.textAlign='center';
    btn_3.style.backgroundColor='lightblue';
}    
s(btn);
</script>
{% endblock %}
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>
